#menucel{
display:block;
}

#cabecalho{
display:none;
}

#titleTexts{
text-align:center;
}

#rcimg{
margin:15px 160px;
}

#menu{
display:none;
}

#rctxt1{
width:97%;
height:auto;
}

#rctxt2{
width:97%;
height:auto;
}

#centralizarsobre{
width:62%;
}

#canvasjogo{
display:none;
}
#canvasjogo2{
display:block;
}

canvas{
width:100%;
}

