#cabecalho{
display:none;
}

#menu{
display:none;
}

#menucel{
display:block;

}

#rcimg{
margin:15px 30px;
}

#rctxt1{
width:93%;
height:auto;
}

#rctxt2{
width:93%;
height:auto;
}

#centralizarsobre{
width:50%;
}

#canvasjogo{
display:none;
}

#canvasjogo2{
display:block;
}

canvas{
width:100%;
}

#robos{
width:90%;
margin-left:11px;
}