#menucel{
display:block;
}

#cabecalho{
display:none;
}

#titleTexts{
text-align:center;
}

#rcimg{
margin:15px 100px;
}

#menu{
display:none;
}

#rctxt1{
width:95%;
height:auto;
}

#rctxt2{
width:93%;
height:auto;
}


#centralizarsobre{
width:31%;
}

#canvasjogo{
display:none;
}
#canvasjogo2{
display:block;
}

canvas{
width:100%;
}

#robos{
width:90%;
margin-left:11px;
}