#menucel{
display:block;
}

#cabecalho{
display:none;
}

#titleTexts{
text-align:center;
}

#rcimg{
margin:15px 222px;
}

#menu{
display:none;
}

#rctxt1{
width:97%;
height:auto;
}

#rctxt2{
width:97%;
height:auto;
}

#canvasjogo{
display:none;
}

#canvasjogo2{
display:block;
}
canvas{
width:100%;
}

#robos{
width:90%;
margin-left:11px;
}