#menucel{
display:none;
}

#cabecalho{
display:block;
}

#menu{
display:block;
}

#robo2{
display:none;
}

#rcimg{
position:center;
}

#rctxt1{
width:20%;
height:auto;
}

#rctxt2{
width:20%;
height:auto;
}


#canvasjogo{
margin: 0 10px;
}

