#menucel{
display:none;
}

#cabecalho{
display:block;
}

#menu{
display:block;
}

#rcimg{
position:center;
}

#rctxt1{
width:29%;
height:auto;
}

#rctxt2{
width:28%;
height:auto;
}

#canvasjogo{
margin: 0 10px;
}


